<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/mwr-img/mwr-logo.png" class="navbar-brand-img" alt="..." width="300" height="300">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">

        <!-- =================== SERVICES ===================== -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="@@webRoot/dummy.html" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Event Planning
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Ensuring everything goes to plan
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Layout/Layout-4-blocks.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Equipment Hire
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    See what we've got in stock!
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Files/File.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Event Set Up
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    We follow through the right way.
                  </p>

                </div>

              </a>
            </div>
          </div>
        </li>

        <!-- =================== FOR HIRE ===================== -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dd-hire" data-toggle="dropdown" href="@@webRoot/dummy.html" aria-haspopup="true" aria-expanded="false">
            For hire
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dd-hire">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/mwr-img/chair.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-primary mb-0 text-uppercase">
                    Chair covers
                  </h6>
                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/mwr-img/dining-table.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-primary mb-0 text-uppercase">
                    Table Dresses
                  </h6>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Home/Curtains.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Backdrops
                  </h6>
                </div>

                <!-- Badge -->
                <!-- <span class="badge badge-pill badge-primary-soft ml-auto">
                  1.2.2
                </span> -->

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/mwr-img/cp.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-primary mb-0 text-uppercase">
                    Centre Pieces
                  </h6>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/mwr-img/spotlight.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-primary mb-0 text-uppercase">
                    Uplighting
                  </h6>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Home/Air-ballon.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-primary mb-0 text-uppercase">
                    Extra Touches
                  </h6>

                </div>

              </a>
            </div>
          </div>
        </li>

        <!-- =================== PORTFOLIO ===================== -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dd-portfolio" data-toggle="dropdown" href="@@webRoot/portfolio.html" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dd-portfolio">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/portfolio.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Portfolio
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Our proudest moments
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/gallery.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Layout/Layout-4-blocks.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Gallery
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Full view of our work
                  </p>

                </div>

              </a>
            </div>
          </div>
        </li>

        <!-- =================== ABOUT ===================== -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="@@webRoot/about.html" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/about.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Who we are
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Hint, we're smaller and localer than you think!
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/dummy.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Our Blog
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Sharing is caring! We hope you find our thoughts useful!
                  </p>

                </div>

              </a>
             
            </div>
          </div>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-@@button lift ml-auto" href="@@webRoot/contact.html">
        Contact Us
      </a>

    </div>

  </div>
  <!-- <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    @@include("../assets/img/shapes/curves/curve-3.svg")
  </div> -->
</nav>
