<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container">

    <!-- Brand -->
    
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/mwr-img/mwr-logo.png" class="navbar-brand-img" alt="..." width="300" height="300">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <a class="navbar-btn btn ml-auto d-lg-none mt-5" href="@@webRoot/index.html">
        Home
      </a>
      <a class="navbar-btn btn ml-auto d-lg-none" href="@@webRoot/dummy.html">
        Pricing
      </a>
      <a class="navbar-btn btn ml-auto d-lg-none" href="@@webRoot/gallery.html">
        Gallery
      </a>
      <a class="navbar-btn btn ml-auto d-lg-none" href="@@webRoot/about.html">
        About
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-lg-inline hvr-underline-from-left"><a href="@@webRoot//dummy.html" class="nav-link">Pricing</a></li>
        <li class="nav-item d-none d-lg-inline"><a href="@@webRoot/gallery.html" class="nav-link">Gallery</a></li>
        <li class="nav-item d-none d-lg-inline"><a href="@@webRoot/about.html" class="nav-link">About</a></li>

        <!-- =================== PORTFOLIO ===================== -->
        
        
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-@@button lift ml-auto" href="@@webRoot/contact.html">
        Contact Us
      </a>

    </div>

  </div>
  <!-- <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    @@include("../assets/img/shapes/curves/curve-3.svg")
  </div> -->
</nav>
